.genres-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
    color: #ffffff;
}

.genres-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.genres-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 80px 0 #FFFFFF54;
    box-sizing: border-box;
    margin-bottom: 3%;

}

.genres-item:focus, .genres-item:hover {
    outline: 3px solid #ffffff;
    border-radius: 16px;
}

.genres-name {
    padding: 22px 0 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;    
}

@media screen and (max-width: 768px) {
    .genres-header {
        display: flex;
        justify-content: center;
        font-size: 24px;
        line-height: 32px;
    }

    .genres-name {
        padding: 12px 0 20px;
        font-size: 14px;
        line-height: 20px;  
    }
}

@media screen and (max-width: 576px) {
    .genres-list {
        justify-content: center;
    }

    .genres-item {
        width: 296px;      
    }

    .genres-name {
        font-size: 24px;
        line-height: 32px;  
    }
}