.trailer-container {
    position: relative;
}

.trailer {
    width: 960px;
    height: 540px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.trailer:hover .player-btn {
    display: block;
}

.player {
    position: relative;
    pointer-events: none;
}

.player-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns-control {
    position: absolute;
  /*  top: -70px;
    left: 50%;
    transform: translateX(-50%);*/
    top: 0;
    left: 0;
    display: flex;
    gap: 50px;
}

.player-volume {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
}

.player-mute {
    position: absolute;
    top: 11px;
    right: 5px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.player-volume:hover,
.player-volume:hover path {
    stroke: #00000050;
    color: #00000050;
}

.player-volume:hover .player-mute {
    color: #00000050;
}

.fullscreen-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
}

.trailer-close {
    width: 48px;
    height: 48px;
}

.trailer-close:hover path,
.fullscreen-icon:hover path {
    fill: #00000050;
}

.trailer-container-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.trailer-container-fullscreen:hover .btns-control-fullscreen {
    display: flex;
}

.trailer-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.btns-control-fullscreen {
    display: none;
    position: absolute;
  /*  top: 50%;
    left: 10px;
    transform: translateY(-50%);*/
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 992px) {
    .trailer {
        width: 663px;
        height: 375px;
    }

    .trailer-fullscreen {
        width: 100vw;
        height: 100vh;
    }

    .player-btn {
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 768px) {
    .trailer {
        width: 375px;
        height: 212px;
    }

    .trailer-fullscreen {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 374px) {
    .trailer {
        width: 294px;
    }

    .trailer-fullscreen {
        width: 100vw;
    }

    .btns-control-fullscreen {
        gap: 10px;
    }
}