.trailer-container {
    position: relative;
    width: 960px;
    height: 540px;
}

.trailer {
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    cursor: pointer;
}

/*
.trailer:hover .player-btn {
  /*  display: block;

    opacity: 1;
  transition: opacity 0s;
}*/

.trailer:hover .player-btn {
    animation: hide 3s;
}

@media (hover: hover) {
    .trailer:hover .player-btn {
        animation: hide 3s;
    }
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    pointer-events: none;
}

.player-btn {
    /*  display: none;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    /* transition: opacity 0s 5s;*/
}

.btns-control {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
}

.player-volume {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
}

.player-mute {
    position: absolute;
    top: 11px;
    right: 5px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.player-volume:hover,
.player-volume:hover path {
    stroke: #00000050;
    color: #00000050;
}

.player-volume:hover .player-mute {
    color: #00000050;
}

.fullscreen-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
}

.trailer-close {
    width: 48px;
    height: 48px;
}

.trailer-close:hover path,
.fullscreen-icon:hover path {
    fill: #00000050;
}

.trailer-container-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.trailer-container-fullscreen:hover .btns-control-fullscreen {
    /*  display: flex;*/
    animation: hide 3s;
}

/*
.trailer-fullscreen {
 /*   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.btns-control-fullscreen {
    /*  display: none;*/
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 20px;

    opacity: 0;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {
    .trailer-container {
        width: 663px;
        height: 375px;
    }

    .trailer-container-fullscreen {
        width: 100vw;
        height: 100vh;
    }

    .player-btn {
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 768px) {
    .trailer-container {
        width: 375px;
        height: 212px;
    }

    .trailer-container-fullscreen {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 374px) {
    .trailer-container {
        width: 294px;
    }

    .trailer-container-fullscreen {
        width: 100vw;
    }

    .btns-control-fullscreen {
        gap: 10px;
    }
}